@import 'nib'

blue = #34A6FF
orange = #fe8800
lightgrey = #ddd

*
    margin 0px
    padding 0px

body
    height 100%
    width 100%
    background-color black
    overflow hidden
    box-shadow inset 0 0 100px #4a7175
    background-color #738182

#remoteVideo
    z-index 10
    width 100%
    height 100%
    min-height 100%
    position absolute
    top 0px
    left 0px

#localVideo
    z-index 20
    transition 0.9s ease-in
    position absolute
    width 100%
    height 100%

.connected #localVideo
    transition-delay 1s
    transform rotate(360deg)
    position absolute
    top 10px
    right 10px
    width 20%
    height 20%

#footer
    z-index 30
    position absolute
    width 100%
    box-sizing border-box
    bottom 0px
    height 50px
    padding 5px
    background-color lightgrey
    font-size: 1.1em

    #log
        display block
        float left
        height 100%
        margin-left 20px
        line-height 40px

    #commands
        display block
        float left
        height 100%

        button
            width 90px
            display block
            float left
            height 100%
            padding 0px 2px
            margin 0px 4px 0px 0px
            border: 1px solid blue
            background: blue
            color: white
            box-shadow: none
            text-shadow: none
            border-radius: 0
            font-weight: bold

        button:hover
            background: orange
            color: white
            border-color: orange
            text-shadow: none